---
layout: default
---
<!-- THIS IS HOME PAGE -->

<!-- begin profile-user -->
<section id="about">
<div class="profile-user">
  <div class="avatar-box">
    <a href="{{ site.baseurl }}/" class="avatar-link"><img src="{{ site.baseurl }}/images/{{ site.data.settings.avatartop }}" alt="{{ site.data.settings.name }}" class="avatar"></a>
  </div>
  <div class="info-user">
    <strong class="user-name">{{ site.data.settings.name }}</strong>
    <span class="user-tag">{{ site.data.settings.tag }}</span>
    <div class="user-description">{{ site.data.settings.long-description }}</div>
	{% include social.html %}
  </div>
</div>
</section>
<!-- end profile-user -->

<!-- begin stories -->
<section id="stories">
<div class="stories">
  <div class="stories-topbox">
    <div class="stories-titlebox">
      <strong class="workstitle">{{ site.data.settings.stories-title }}</strong>
    </div>
	<div class="stories-imgbox">
		<img src="{{ site.baseurl }}/images/{{ site.data.settings.stories-img }}">
	</div>
  </div>
{% for story in site.data.settings.stories %}
  {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
      <div class="stories-topbox">
        <div class="stories-storybox">
			<img src="{{ site.baseurl }}/images/{{ story.vhs }}"/>
           <h3 class="story-title">{{ story.story-title }} </h3>
           <div class="story-description">{{ story.description }}</div>
			<div class="pubs">{{ story.pubs }}</div>
        </div>
    {% elsif loopindex == 2 %}
        <div class="stories-storybox">
			<img src="{{ site.baseurl }}/images/{{ story.vhs }}"/>		
           <h3 class="story-title">{{ story.story-title }}</h3>
           <div class="story-description">{{ story.description }}</div>
			<div class="pubs">{{ story.pubs }}</div>
        </div>
	{% else %}
		<div class="stories-storybox">
			<img src="{{ site.baseurl }}/images/{{ story.vhs }}"/>
           <h3 class="story-title">{{ story.story-title }}</h3>
           <div class="story-description">{{ story.description }}</div>
			<div class="pubs">{{ story.pubs }}</div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
</section>
<!-- end stories -->

<!-- begin reviews -->
<div class="reviews">
  <h2 class="section-title">{{ site.data.settings.reviews-title
  }} </h2>
  <div class="reviews-box">
    <ul class="reviews-list siema slick list-reset">
      {% for review in site.data.settings.reviews %}
        <li class="reviews-item">
          <div class="review-quote"> {{ review.quote }} </div>
          <div class="review-info">
            <strong class="review-name">{{ review.name }}</strong>
            <em class="review-title">{{ review.title }}</em>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- end reviews -->